<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lbx.flutter_mobile_imsdk">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!-- Android 9.0中需要此权限的添加，不然崩溃 -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>
